@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@700&family=Roboto+Slab:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Roboto Slab', serif; */
/* font-family: 'Playfair', serif; */
/*navbar*/
.navbar{
  font-family: 'Roboto Slab', serif;
  box-shadow: 0 9px 7px -7px gray;
  font-size: 18px;
  border-bottom: 1.2px solid gray !important;
  line-height: 28px;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 900 !important;
}

.navbar-brand {
  font-weight: 900;
  letter-spacing: 3px;
}
